
{% extends 'base.html' %}

{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('static/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">I will see you at the top</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Being a computer engineering student, the work stress and boolean logics can quickly wash emotions away. Few years ago, I could have never imagined I would get so deeply attached to the passage of time being depicted through mechanical means. Yet the mesmerizing fluidity of balance wheels, the crisp strikes of the pallet fork on metal gears, the subtle sweeps of the second hand took my breath away at first sight…
</p>
        <p>This blog is purely a personal collection of my petty thoughts on this profound hobby. I would like to thank YouTube influencers like TGV and Bark & Jack who inspired the next generation of watch hobbyists like me. And thank you to all the readers for visiting my blog.
</p>
        <p>Aside from watches, I am also a world traveller. I have been to more than 60 cities around the world and lived in 5 of them throughout Asia and North America. Hop onto my Instagram page where I explore the world while eating McDonald’s!
</p>
      </div>
    </div>
  </div>

  <hr>
{% endblock %}

