{% extends 'base.html' %}

{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('http://wallpoper.com/images/00/45/10/45/half-moon_00451045.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Omega Speedmaster Professional Moonwatch</h1>
            <h2 class="subheading">Going as far as the moon, yet not nearing my wrist</h2>
            <span class="meta">Posted by
              <a href="{{ url_for('about') }}">Felix</a>
              on May 7, 2019</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          <p>The Omega Speedmaster Professional Moonwatch has been so endlessly advertised by Omega for the past 50 years since it went onto the moon, it became a cliche in the watch community. However it has remained to be my personal grail watch...and I won’t be getting it.</p>

          <h2 class="section-heading">Positives</h2>

          <p>I will not be going into the history of the timepiece, as it is probably better to visit the official <a href="https://www.omegawatches.com/en-us/planet-omega/space">Omega</a> website for it. The profound history with NASA certainly serves as an added bonus, but it is not the reason as to why I like it. It is the design and layout. My internal OCD simply screams at the dial for being so perfect. </p>

          <center><a><img class="img-fluid" src="https://www.omegawatches.com/media/gene-cms/s/p/sp_moonwatch_prof_31130423001005_vuecv2_1600x900_12.jpg" alt="Source: Omega" style="width:480; height:270;"></a></center>

          <span class="caption text-muted">Photograph by <a href="www.omega.com">Omega</a></span>

          <p>Omega somehow designed a chronograph that is so simple yet complex in features, so luxurious in finishing yet being a tool, and so understated yet being timeless. I can never get bored of looking at Speedmasters on Instagram. It simply strikes the perfect balance between beauty and power. I honestly don’t care if it has been to the moon and back, it just looks out of this world.</p>

          <h2 class="section-heading">Drawback</h2>

          <p>I only have one single but detrimental complaint: the 42mm size of the watch is too big for my tiny 6.25’’ wrist. Although I have never seen the watch in metal, but the measured case flanks spans to 52mm on the bracelet option. It would definitely overhang and look like an alarm clock on my wrist. I understand that it is the standard for chronograph watches to be 42mm, and it is a shame that I cannot enjoy any of those. If only I have a big enough wrist, I would get the Sapphire Sandwich Speedmaster in a heartbeat. </p>

          <center><a href="http://farm3.static.flickr.com/2532/5728598376_9dcce553be_b.jpg" target="_blank"><img class="img-fluid" src="http://farm3.static.flickr.com/2532/5728598376_9dcce553be_b.jpg" alt="Case back" style="width:480; height:270;"></a></center>

          <h2 class="section-heading">Omega Speedmaster Reduced</h2>

          <p>Hopes are not all lost however. Omega had released a smaller 38mm version of the speedmaster, the Reduced. On many levels, it is not the same watch that went on the moon, but most of the design language still remained; with everything but the second hand arrow being missing. It is also a cheaper watch on the used market, and possesses an automatic winding movement instead of handwinding on the Pro. Hopefully in the future, when I reach a certain financial milestone, a Speedmaster Reduced would serve as a great reminder to my grail.</p>

          <center><a href="https://s73.photobucket.com/user/jamoss75/media/Omega%2520Speedmaster%2520Reduced%2520Automatic/CIMG2095.jpg.html"><img class="img-fluid" src="static/img/reduced.jpg" alt="Omega Speedmaster Reduced" style="width:320; height:180"></a></center>

        </div>
      </div>
    </div>
  </article>

  <hr>

{% endblock %}