{% extends 'base.html' %}

{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('http://4.bp.blogspot.com/-OH7urwc1twc/UdMIV1HNXkI/AAAAAAAAA9k/FEeRgz3EX_Q/s1600/watch-on-hand-wallpaper.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>The ultimate value proposition and the troubles I went through</h1>
            <h2 class="subheading">Review of a Broken SNK809</h2>
            <span class="meta">Posted by
              <a href="{{ url_for('about') }}">Felix</a>
              on September 23, 2018</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
           <p>In my final year of high school, there was a period of time when I was binge watching watch reviews on YouTube. I would drool all over the mechanical chronographs, grand complications, and tourbillons of infinite complexity. Then reality would pull me out of those thoughts and reminded me of my student identity. Watch collecting is definitely a money-burning task, so naturally I started from the lower end of the spectrum.</p>

          <p>It doesn’t take long to stumble upon Seiko 5: a line that dominates the sub - $100 mechanical watch market. Conveniently, it has everything I would ask for to satisfy my watch addiction for some time. I just need to select one from the available Seiko 5s (easier said than done).
</p>

<!--          <h2 class="section-heading">The Final Frontier</h2>-->

           <a href="http://www.watchsleuth.com/seiko5finder" target="_blank">
            <img class="img-fluid" src="http://www.watchsleuth.com/seiko5finder/images/seiko5_snk-snx.png?v=20151021" alt="Seiko 5 Lineup">
          </a>
          <span class="caption text-muted">Looks like Minesweeper on expert difficulty</span>

          <p>One day in a physics lab, I noticed my friend Jeff wearing a SNK809, a crowd favourite on the internet. By then I have already developed the symptom of staring at other people’s wrist for any recognizable watch. I was pleasantly surprised by the Seiko 5, and Jeff gladly allowed me for a closer examination. </p>

          <h2 class="section-heading">Basic Specifications</h2>

          <p><b>Case Diameter:</b> 37mm<br>
              <b>Case Height:</b> 11mm<br>
              <b>Lug-to-lug Distance:</b> 43mm<br>
              <b>Case Finishing:</b> Bead Blasted 316L Stainless Steel<br>
              <b>Crystals and Exhibition Case Back:</b> Flat Hardlex Crystal<br>
              <b>Water Resistance:</b> 30m<br>
          </p>

          <p><b>Movement:</b><br>
            <ul style="list-style-type:disc;">
              <li>Seiko in-house calibre 7s26</li>
              <li>Automatic</li>
              <li>21 Jewels</li>
              <li>21,600 vibrations per hour</li>
              <li>40-hour power reserve</li>
              <li>Dual lingual day/date complication</li>
              <li>Non-hacking / handwinding</li>
            </ul>
          </p>

<!--          <blockquote class="blockquote"></blockquote>-->

          <p>SNK809 is a military inspired field watch. The aesthetic would probably look out of place for formal events. When Jeff handed me the watch, I immediately noticed the abuse it has gone through. The front Hardlex crystal has been scratched significantly, and the case finishing had multiple scars. Despite those damages, the watch somehow looked more fitting in the military theme.</p>

          <center><a>
            <img class=".center" src="static/img/SNK809.JPG" alt="Scratched up" style="width:550px; height:600px;">
          </a></center>

          <center><blockquote class="blockquote">A worn out watch, is a watch well worn.</blockquote></center>

          <p>Unfortunately, the movement of the watch has also taken more than a beating. It lost 20 minutes per day, even worse when its not worn on the wrist. But the mechanical beauty of the display case back lured me in further. In the crude state as it was, I was endlessly drawn to the beating heart of the balance wheel, the rotating weight, the ratcheting sound of the Magic Lever… One could never thought that inside a cylinder packed with oddly shaped metals would provide such synchronizing harmony.</p>

          <p>I finally gave in. I paid Jeff $15 for the broken watch. The watch itself fits my 6.25” wrist perfectly. I took it off of the OEM strap, and put it on a bond style nato strap. Bringing the watch to service was not an option, as each service would cost more than the watch itself. So I took it upon myself to regulate the watch. </p>

          <center><a>
            <img class="img-fluid" src="static/img/SNK809-inside.JPG" alt="inside" style="width:440px; height:500px;">
          </a></center>

          <p>I shifted the regulator arm to the maximum, yet the watch was still losing time at horrendous rates. Was the watch heavily magnetized? After two weeks of tinkering, the watch itself gave up. The chime stopped, second hand hung lifelessly, the hairspring snapped. </p>

          <p>That was fun while it lasts. Wasn’t a perfect experience, but it was my first mechanical watch experience. It now rests within my desk drawer to serve as a reminder for my SKX with the same movement hahaha...</p>
        </div>
      </div>
    </div>
  </article>

  <hr>

{% endblock %}